<h3>Saved Games</h3>

<p>This shows previous games that have been automatically saved. You can restore or delete any of them.</p>

<p>Back to <a href="/" class="btn btn-info">Main Menu</a></p>

<table class="table">
    <tr>
        <th>Resume</th>
        <th>Name</th>
        <th>Players</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let game of games">
        <td><button (click)="restoreGame(game)" class="btn btn-info">Restore</button></td>
        <td>{{ game.name }}</td>
        <td>{{ game.playerCount }}</td>
        <td><button (click)="deleteGame(game)" class="btn btn-danger">Delete</button></td>
    </tr>
</table>