<div [ngClass]="['tile', getExtraClasses()]" >
    <span class="tile-letter" [innerHTML]="tile.getPlacedLetter(true, showLetterIfBlank)" ></span>
    <span class="point-score">{{ tile.getPointsValue() }}</span>
</div>
