<h1>Scrabble</h1>
<div *ngIf="gameState.isInProgress()" >
    <div id="game-board" >
        <div id="board-container" >
            <div class="board-row" *ngFor="let boardRow of gameState.getBoard().getBoardRows()" >
                <div
                    *ngFor="let boardRowCell of boardRow.getRowCells()"
                    title="{{ boardRowCell.getCellTooltip() }}"
                    class="board-row-cell"
                    (click)="cellClick(boardRowCell)"
                >
                    <svg *ngIf="!boardRowCell.hasTile()" width="1.8em" height="1.8em" [ngClass]="boardRowCell.getClassName()" >
                        <rect width="1.8em" height="1.8em" style="stroke-width:1;stroke:rgb(0,0,0)" />
                        <text x="1.2em" y="1.8em" text-anchor="middle" >{{ boardRowCell.getCellText() }}</text>
                    </svg>
                    <tile-container
                            *ngIf="boardRowCell.hasTile()"
                            [tile]="boardRowCell.getTile()"
                            [boardRowCell]="boardRowCell"
                            [showLetterIfBlank]="'1'"
                    >
                    </tile-container>
                </div>
            </div>
        </div>
    </div>
    <div id="player-list-and-info" >
        <div id="list-and-turn" >
            <div id="player-list" class="game-panel" >
                <p class="tiles-remaining">Tiles Remaining: {{ gameState.getTileBag().howManyTiles() }}</p>
                <div class="player-details" *ngFor="let player of gameState.getPlayers(); let playerIndex = index" >
                    <span id="current-player-indicator" >
                        <span *ngIf="!gameState.isGameOver() && gameState.isCurrentPlayer(playerIndex)" >
                            <svg height="2em" width="2.2em" >
                                <rect height="0.5em" width="1em" y="0.45em" x="0.1em"/>
                                <polygon points="30,10 15,20 15,0" />
                            </svg>
                        </span>
                        <fa-icon [icon]="faStar" *ngIf="gameState.isGameOver() && player.isWinner()"></fa-icon>
                    </span>
                    <div class="player-name" >{{ player.getName() }}<span class="score" >{{ player.getScore() }}</span></div>
                    <div class="player-rack" >
                        <tile-container
                                *ngFor="let tileRackTile of player.getTileRack()"
                                [tile]="tileRackTile.getTile()"
                        >
                        </tile-container>
                    </div>
                </div>
            </div>
            <div id="player-turn" class="game-panel" >
                <div class="name-and-rack">
                    <p >Current turn: {{ gameState.currentPlayer().getName() }}</p>
                    <div class="current-player-rack" >
                        <tile-container
                                *ngFor="let tileRackTile of gameState.currentPlayer().getTileRack(); let tileRackTileIndex = index"
                                (click)="selectTile(tileRackTileIndex)"
                                [tile]="tileRackTile.getTile()"
                                [tileRackTile]="tileRackTile"
                        >
                        </tile-container>
                    </div>
                </div>
                <div class="options" >
                    <button (click)="playerShuffle()" [disabled]="!canPlayerShuffle()" class="btn btn-default" >Shuffle</button>
                    <button (click)="playerPass()" [disabled]="!canPlayerPass()" class="btn btn-default" >Pass</button>
                    <button (click)="playerExchange()" [disabled]="!canPlayerExchange()" class="btn btn-default" >eXchange</button>
                </div>
            </div>
        </div>
        <div id="game-info" class="game-panel" >
            <fa-icon [icon]="faEdit" class="pull-right edit-name" (click)="editName()"></fa-icon>
            <h2>{{ gameState.getName() }}</h2>
            <h3>Info</h3>
            <p *ngIf="!isPlayerPlacingTiles() && !isPlayerExchangingTiles() && !gameIsOver()">Click the board to start entering your word</p>
            <div *ngIf="isPlayerPlacingTiles()">
                <button (click)="cancelPlayTiles()" class="btn btn-danger" >Cancel</button>
                <button (click)="removeLastTile()" [disabled]="!canRemoveLastTile()" class="btn btn-warning pull-right" >Remove Last Tile</button>
                <p style="clear: both" >Click your tile rack to place the next letter</p>
                <p *ngIf="!centreSquareHasTile()" ><fa-icon [icon]="faExclamationCircle"></fa-icon> No tile on centre square</p>
                <p *ngIf="!isTouchingExistingTile() && !isFirstMove()" ><fa-icon [icon]="faExclamationCircle"></fa-icon> Tiles do not touch an existing tile</p>
                <p *ngIf="hasSingleLetterWord()" ><fa-icon [icon]="faExclamationCircle"></fa-icon> Single letter words are not allowed</p>
                <div class="scores">
                    <table class="scores-table">
                        <tbody >
                            <tr *ngFor="let playedWord of gameState.getPlayedWords()" >
                                <td >{{ playedWord.getWord() }}</td>
                                <td [ngSwitch]="playedWord.getValidationState()" >
                                    <div *ngSwitchCase="'VALID'">
                                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                                        <fa-icon [icon]="faList"
                                            (mouseover)="playedWord.showHideDefn(true)"
                                            (mouseout)="playedWord.showHideDefn(false)"
                                        ></fa-icon>
                                    </div>
                                    <fa-icon [icon]="faTimesCircle" *ngSwitchCase="'NOT VALID'" name="times-circle"></fa-icon>
                                    <fa-icon [icon]="faExclamation" *ngSwitchCase="'ERROR'" name="exclamation" title="An error occurred (API rate limit exceeded?)"></fa-icon>
                                    <fa-icon [icon]="faQuestionCircle" *ngSwitchCase="'UNKNOWN'" name="question-circle"></fa-icon>
                                </td>
                                <td >{{ playedWord.getScore() }}</td>
                            </tr>
                            <tr *ngFor="let bonus of gameState.getBonuses()" >
                                <td >{{ bonus.getWord() }}</td>
                                <td ></td>
                                <td >{{ bonus.getScore() }}</td>
                            </tr>
                            <tr >
                                <td >Total</td>
                                <td ></td>
                                <td >{{ gameState.getTurnScore() }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngFor="let playedWord of gameState.getPlayedWords(); let wordIndex = index">
                        <div class="word-definitions" *ngIf="playedWord.definitionsAreShown()">
                            <h3>Definition(s) (First 5)</h3>
                            <ul>
                                <li *ngFor="let definition of playedWord.getDefinitions()">
                                    {{ definition }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button (click)="confirmPlayTiles()" [disabled]="!canConfirmPlayTiles()" class="btn btn-primary pull-right" >Confirm word(s)</button>
            </div>
            <div *ngIf="isPlayerExchangingTiles()" >
                Click your tiles to exchange; click an exchanged tile to put it back in your rack.
                <div id="tiles-to-exchange" >
                    <tile-container
                        *ngFor="let exchangeTile of gameState.exchangeTiles.getTiles(); let exchangeTileIndex = index"
                        (click)="unexchangeTile(exchangeTileIndex)"
                        [tile]="exchangeTile"
                    >
                    </tile-container>
                </div>
                <p *ngIf="!enoughTilesInBag()" ><fa-icon [icon]="faExclamationCircle"></fa-icon> There are no more tiles available in the bag</p>
                <button class="btn btn-danger" (click)="cancelExchange()" >Cancel</button>
                <button class="btn btn-primary" (click)="confirmExchange()" [disabled]="!canConfirmExchange()" >Confirm</button>
            </div>
            <div *ngIf="gameIsOver()" >
                <h4 >Game over</h4>
                <button class="btn btn-default" (click)="newGame()" >New Game</button>
                <button class="btn btn-primary" (click)="replayGame()" >Replay</button>
            </div>
            <div *ngIf="gameIsOver()" style="margin-top:1em">
                <button class="btn btn-info" (click)="redisplayAdjustments()" >View Adjustments</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="gameState.hasWordLookupApiCitation()" id="word-lookup-citation" >
    <cite >* {{ gameState.getWordLookupApiCitation() }}</cite>
</div>
<div id="abandon-game">
    <a href="/" class="btn btn-danger" (click)="checkAbandonGame()">Abandon game</a>
    <button [disabled]="!undoMoveAllowed()" class="btn btn-secondary" (click)="undoMove()">Undo Move</button>
    <button [disabled]="!redoMoveAllowed()" class="btn btn-secondary" (click)="redoMove()">Redo Move</button>
</div>

<div bsModal #directionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h4>Direction of Word</h4>
                <button type="button" class="close" aria-label="Close" (click)="hideDirectionModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body word-direction-body">
                <span class="direction-middle" >
                    Do you want to play <button type="button" aria-label="Across" (click)="playAcross()" >Across</button> or
                </span>
                <button type="button" class="word-direction-down" aria-label="Down" (click)="playDown()" >Down</button>
                <span class="direction-middle" >?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" aria-label="Cancel" (click)="hideDirectionModal()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div bsModal #chooseLetterModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h4>Choose Letter</h4>
                <button type="button" class="close" aria-label="Close" (click)="cancelChooseLetterModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="choose-letter-body">
                Choose the letter for this blank, or type the key on the keyboard!
                <div id="available-letters-container" >
                    <div *ngFor="let availableLetter of gameState.availableLetters" >
                        <button (click)="selectLetter(availableLetter)" >{{ availableLetter }}</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" aria-label="Cancel" (click)="cancelChooseLetterModal()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div bsModal #endOfGameModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h4>Game over</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeEndOfGameModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="end-of-game-body">
                <table >
                    <tr >
                        <th >Player</th>
                        <th >Score</th>
                        <th >Adjustment</th>
                        <th >Final Score</th>
                    </tr>
                    <tr *ngFor="let player of gameState.getPlayers()">
                        <td >{{ player.getName() }}</td>
                        <td class="numeric" >{{ player.getScore() - player.getScoreAdjustment() }}</td>
                        <td class="numeric" >{{ player.getScoreAdjustment() }}</td>
                        <td class="numeric" >{{ player.getScore() }}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" aria-label="Ok" (click)="closeEndOfGameModal()">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>

<div bsModal #editNameModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit Name</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeEditNameGameModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="end-of-game-body">
                <table>
                    <tr>
                        <th>New Name:</th>
                        <td><input type="text" [(ngModel)]="gameNameCopy"></td>
                    </tr>
                </table>
            </div>
            <div>
                <p class="error-message">{{ editNameErrorMessage }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" aria-label="Ok" (click)="saveEditNameGame()">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
