<h3>New Game</h3>
<nav >
    <a routerLink="/" class="btn btn-info">Home</a>
</nav>
<h4 >Boards and Tiles</h4>
<ng-container *ngFor="let board of gameConfigs.boards; let boardIndex = index" >
    <p >
        <label *ngFor="let tileSet of board.tileSets; let tileSetsIndex = index" >
            <input type="radio" name="options" value="{{ boardIndex }}:{{ tileSetsIndex }}" [(ngModel)]="selectedGameConfig" />
            {{ board.name }} ({{ board.size }}x{{ board.size }}) - {{ tileSet.name }} ({{ tileSet.languageApiDriver.getLanguageDescription() }})
        </label>
    </p>
</ng-container>
<h4 >Players</h4>
<table class="table">
    <tr >
        <th >Name</th>
        <th >Player Type</th>
        <th >Computer Level</th>
        <th >Options</th>
    </tr>
    <tr *ngFor="let player of players; let pIndex = index" >
        <td ><input [(ngModel)]="player.name" type="text" placeholder="New player" maxlength="20" /></td>
        <td ><label ><input [disabled]="!player.name || true" type="checkbox" [(ngModel)]="player.isHuman" > Human</label></td>
        <td >
            <select [disabled]="(!player.name) || player.isHuman == true || true" >
                <option >Select...</option>
            </select>
        </td>
        <td ><button [disabled]="!player.name" (click)="onDelete(pIndex)" class="btn btn-danger" tabindex="99">Delete</button></td>
    </tr>
</table>
<p *ngIf="hasDuplicatePlayers()" >Player names must be unique!</p>
<p ><button [disabled]="noPlayersSelected() || hasDuplicatePlayers()" (click)="startGame()" class="btn btn-primary">Start Game</button></p>
