<h3>Welcome to Scrabble!</h3>
<p >This is my implementation of Scrabble, as a vehicle to learn Angular (currently v19) and TypeScript.</p>
<nav >
    <a routerLink="/startGame" class="btn btn-primary">New Game</a>
    <a routerLink="/savedGames" class="btn btn-info">Saved Games</a>
</nav>

<h2 >Notes</h2>
<p >This is a work in progress</p>
<p >What it does do</p>
<ul >
    <li >Allow between 1 and 4 human players to be entered</li>
    <li >Allow board config and tile set to be chosen</li>
    <li >Initialise the game; display the board, players, racks, scores</li>
    <li >Allow a player turn: pass, exchange, play a word</li>
    <li >Display word(s) formed in this turn, their validity and score, total score</li>
    <li >Detect end of game (all players pass twice in a row; someone ends their turn with an empty rack)</li>
    <li >Show final scores; highlight winner(s)</li>
    <li >Allow new game with a) same board, tile set and players, b) new board, tile set and players</li>
</ul>
<p >What I need to add</p>
<ul >
    <li >It is not yet responsive, so don't expect it to work on a mobile</li>
    <li >Option to save and retrieve a game during play in case of any disaster</li>
    <li >Other languages - and therefore different tile sets and word validation</li>
    <li >Tidy the screen up</li>
    <li> Option to choose computer players, and get the app to make their moves</li>
    <li >I would like to add animation, particularly at the end of a player's turn</li>
    <li >Allow remote players</li>
</ul>
