/* Master Styles */
#abandon-game {
    clear: both;
    padding-top: 1em;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em !important;
}

.player-selected {
    font-style: italic;
}

/* Game play styling. */
#game-container {
    margin: 0 auto;
    width: 80em;
}

#game-board {
    float: left;
}

.game-panel {
    background-color: lightblue;
    border-radius: 0.6em;
}

#board-container {
    border: 1em solid green;
    border-radius: 1em;
    display: inline-block;
    float: left;
    margin-right: 1em;
}

.board-row {
    clear: both;
}

.board-row-cell {
    float: left;
    width: 1.8em;
    height: 1.8em;
}

.board-row-cell svg text {
    font-size: x-small;
}
.board-row-cell svg.none rect {
    fill: white;
}
.board-row-cell svg.dls rect {
    fill: lightblue;
}
.board-row-cell svg.tls rect {
    fill: royalblue;
}
.board-row-cell svg.qls rect {
    fill: DarkBlue;
}
.board-row-cell svg.dws rect {
    fill: pink;
}
.board-row-cell svg.tws rect {
    fill: red;
}
.board-row-cell svg.qws rect {
    fill: darkRed;
}
.board-row-cell svg.qls text, .board-row-cell svg.qws text {
    fill: white;
}

.board-row-cell .in-turn {
    background-color: orange;
}
.board-row-cell .just-played {
    background-color: gold;
}
.board-row-cell .blank-tile {
    background-color: white !important;
}

#player-turn {
    float: left;
    margin-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 19em;
}
#player-turn .options {
    float: left;
    margin-top: 1em;
}

#player-list-and-info {
    height: 21em;
    width: 90em;
}

#list-and-turn {
    float: left;
    width: 19em;
}

#player-list {
    display: inline-block;
    float: left;
    height: 100%;
    padding: 0 1em 1em;
    width: 19em;
}
#player-list .tiles-remaining {
    margin-left: 2em;
}
#player-list .player-details {
    float: left;
    margin-bottom: 1em;
    width: 17em;
}

#player-list .player-name .score {
    float: right;
    padding-right: 1em;
}

#current-player-indicator {
    display: inline-block;
    float: left;
    height: 2em;
    padding-top: 1em;
    width: 2.5em;
}
#current-player-indicator svg rect,
#current-player-indicator svg polygon {
    stroke-width: 1;
    stroke: rgb(0,0,0);
    fill: rgb(255,165,0);
}

#game-info {
    float: left;
    height: 30.2em;
    margin-left: 1em;
    overflow: auto;
    padding: 0.5em;
    width: 21em;
}
#game-info h2,
#game-info h3 {
     text-align: center;
}

.tile {
    background-color: #fffdd0;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    height: 1.7em;
    margin: 0.1em;
    padding: 0.1em 0.2em 0.2em;
    text-align: center;
    width: 1.7em;
}
.tile.selected {
    background-color: lightgray;
}
.tile span.tile-letter {
    float: left;
    margin-right: -0.5em;
}
.tile span.point-score {
    float: right;
    font-size: 0.6em;
    position: relative;
    top: 1em;
    left: 0.2em;
}

.word-direction-body {
    position: relative;
}
.word-direction-down {
    transform: rotate(90deg);
    top: -2em;
    position: relative;
    margin-left: -1em;
    margin-right: -1em;
}
.direction-middle {
    top: -2em;
    position: relative;
}

#game-info table.scores-table {
    width: 100%;
}
#game-info table.scores-table td {
    padding: 0.5em;
}

#available-letters-container {
    width: 39em;
    margin: auto;
}
#available-letters-container div {
    float: left;
    margin-right: 0.3em;
}
#available-letters-container div button {
    width: 2.5em;
}

#tiles-to-exchange {
    height: 3.5em;
    padding: 0.5em;
}

.end-of-game-body td, .end-of-game-body th {
    padding-left: 1em;
}
.end-of-game-body td.numeric {
    text-align: right;
}

.current-player-rack {
    height: 2em;
}

#word-lookup-citation {
    clear: both;
    top: 0.5em;
    position: relative;
}

.edit-name {
    position: relative;
    top: 0.7em;
}
.error-message {
    margin-left: 1em;
    color: red;
}

.scores .word-definitions {
    background: lightgreen;
    position: absolute;
    width: 20.1em;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid black;
}

.btn {
  margin: auto 0.2em;
}
a.btn fa-icon {
  margin-right: 0.2em;
}
